* {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-family: 'Ubuntu Mono', monospace;
    font-size: 20px;
}

html, body {
    width: 100%;
    height: 100%;
    background: #fafad2;
}

button {
    outline: none;
    background: #eedd82;

}

button:active {
    background: #eee8aa !important;
}

#content {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 50px auto;
    grid-gap: 10px;
    height: 100%;
    width: 100%;
    min-height: 0;
}

#header {
    grid-row: 1;
    grid-column: 1;
    background: #eedd82;

    display: grid;
    grid-template-columns: 1fr 1fr 4fr 1fr;
    grid-gap: 10px;
}

#login-button {
    grid-column: 4;
}


#savefolder, #viewfolder {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    width: 100%;
    min-height: 0;
}

#new-container {
    display: grid;
    grid-template-rows: 1fr 50px 1fr;
    grid-gap: 10px;
    min-height: 0;
}

#image-container {
    grid-row: 1;
}
#image {
    object-fit: contain;
    width: 100%;
    max-height: 100%;
}

#buttons-container {
    grid-row: 2;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr;
}
#upload {
    grid-column: 1;
}
#upload-input {
    display: none;
}
#delete {
    grid-column: 1;
}
#save {
    grid-column: 2;
}

#tags-container {
    display: grid;
    min-height: 0;
    grid-template-rows: max-content auto;
    grid-row: 3;
}
#image-tags {
    overflow: auto;
    min-height: 0;
}

#existing-container {
    display: grid;
    min-height: 0;
    grid-template-rows: max-content auto;
    grid-column: 2;
}

#existing {
    overflow: auto;
}

#new-tag-container {
    margin: 10px;
    display: grid;
    grid-template-columns: 1fr;
}

#new-tag {
    height: 16px;
    padding: 10px;
    outline: none;
}

#search-container {
    margin: 10px;    
    display: grid;
    grid-template-columns: 1fr;
}

#search {
    height: 16px;
    padding: 10px;
    outline: none;
}

.tag {
    padding: 10px;
    margin: 10px;
}

.img {
    width: 250px;
    height: 250px;
}

.preview {
    display: block;
    width: 100%;
    max-height: 100%;
    object-fit: contain;
}